body {
  background-color: #f2e6d9;
  color: #392714;
  font-family: "Palatino", serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.intro {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: #604020;
  font-weight: bold;
}

.intro h2 {
  font-style: italic;
  color: #996633;
}

.intro img {
  width: 100%;
}
