body {
  background-color: #f2e6d9;
  color: #392714;
  font-family: "Palatino", serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.intro {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

h2.intro {
  font-style: italic;
  color: #996633;
}

p.intro {
  font-weight: bold;
  color: #604020;
}

img.intro {
  display: block;
}
